<div class="panel-header panel-header-sm">
</div>
<div class="card">

  <div class="card-body">
    <div class="card-header">
      <h4 class="card-title"> Breakfast</h4>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <th>Description</th>
          <th>Carb</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Energy</th>
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of breakfastData">
            <td>{{ item.food_name }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.protein }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.energy }}</td>
            <td>{{ item.details }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-body">
      <div class="card-header">
        <h4 class="card-title"> Lunch</h4>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th>Description</th>
            <th>Carb</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Energy</th>
            <th>Details</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of lunchData">
              <td>{{ item.food_name }}</td>
              <td>{{ item.carb }}</td>
              <td>{{ item.protein }}</td>
              <td>{{ item.fat }}</td>
              <td>{{ item.energy }}</td>
              <td>{{ item.details }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-header">
      <h4 class="card-title"> Dinner</h4>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <th>Description</th>
          <th>Carb</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Energy</th>
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of dinnerData">
            <td>{{ item.food_name }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.protein }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.energy }}</td>
            <td>{{ item.details }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-body">
    <div class="card-header">
      <h4 class="card-title">Snack</h4>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <th>Description</th>
          <th>Carb</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Energy</th>
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of snackData">
            <td>{{ item.food_name }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.protein }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.energy }}</td>
            <td>{{ item.details }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-body">
    <div class="card-header">
      <h4 class="card-title"> Out Of Record</h4>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <th>Description</th>
          <th>Carb</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Energy</th>
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of outOfRecordsData">
            <td>{{ item.food_name }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.protein }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.energy }}</td>
            <td>{{ item.details }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>