<div class="panel-header panel-header-sm">
</div>
<div class="justify-content-end">
  <div class="col-4">
    <div class="date-input">
      <label class="input-label">Date:</label>
      <div class="date-input-wrapper">
        <input type="text" placeholder="2023-05-17" class="input-field" id="amountInput" style="width: 40%;"
          [(ngModel)]="DateOnly">
        <button class="button-38" (click)="decreaseDate()">
          <i class="fas fa-minus"></i>
        </button>
        <button class="button-38" (click)="increaseDate()">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card">

  <div class="card-body">
    <div class="card-header">
      <h4 class="card-title"> Breakfast</h4>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <th>Description</th>
          <th>Carb</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Energy</th>
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of breakfastData">
            <td>{{ item.food_name }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.protein }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.energy }}</td>
            <td>{{ item.details }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-body">
      <div class="card-header">
        <h4 class="card-title"> Lunch</h4>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th>Description</th>
            <th>Carb</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Energy</th>
            <th>Details</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of lunchData">
              <td>{{ item.food_name }}</td>
              <td>{{ item.carb }}</td>
              <td>{{ item.protein }}</td>
              <td>{{ item.fat }}</td>
              <td>{{ item.energy }}</td>
              <td>{{ item.details }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-header">
      <h4 class="card-title"> Dinner</h4>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <th>Description</th>
          <th>Carb</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Energy</th>
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of dinnerData">
            <td>{{ item.food_name }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.protein }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.energy }}</td>
            <td>{{ item.details }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-body">
    <div class="card-header">
      <h4 class="card-title">Snack</h4>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <th>Description</th>
          <th>Carb</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Energy</th>
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of snackData">
            <td>{{ item.food_name }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.protein }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.energy }}</td>
            <td>{{ item.details }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-body">
    <div class="card-header">
      <h4 class="card-title"> Out Of Record</h4>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <th>Description</th>
          <th>Carb</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Energy</th>
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of outOfRecordsData">
            <td>{{ item.food_name }}</td>
            <td>{{ item.carb }}</td>
            <td>{{ item.protein }}</td>
            <td>{{ item.fat }}</td>
            <td>{{ item.energy }}</td>
            <td>{{ item.details }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<div class="d-flex justify-content-end" style="padding: 30px;">
  <button (click)="navigate()">
    Update
  </button>
</div>