
<div class="input-group sb-3 search-bar">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Search Food</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="searchText" (keyup)="getFoods($event)">
</div>
<div class="row">
<div class="col-3">
<select class="dropdown" [(ngModel)]="selectedOption" (change)="onOptionSelected()">
  <option *ngFor="let option of options" [value]="option">{{option}}</option>
</select>
</div>
<select class="dropdown">
  <option *ngFor="let option of patients" [value]="option">{{option}}</option>
</select>
</div>

<div class="row">
<div class="col-5">
<table class="my-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Protein</th>
      <th>Energy</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of meals">
      <td>{{ food.description }}</td>
      <td>{{ food.protein }}</td>
      <td>{{ food.energy }}</td>
      <td><button class="button-7" (click)="getRowData(food)">Add</button></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-2">
  <table class="my-table">
    <thead>
      <tr>
        <th>Kahvaltı</th>
        <th>Protein</th>
        <th>Energy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of kahvaltiArr">
        <td>{{ food.description }}</td>
        <td>{{food.protein}}</td>
        <td>{{food.energy}}</td>
      </tr>
    </tbody>
  </table>
  </div>  
  <div class="col-2">
    <table class="my-table">
      <thead>
        <tr>
          <th>Öğlen</th>
          <th>Protein</th>
          <th>Energy</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of oglenArr">
          <td>{{ food.description }}</td>
          <td>{{food.protein}}</td>
          <td>{{food.energy}}</td>
        </tr>
      </tbody>
    </table>
    </div>  
    <div class="col-2">
      <table class="my-table">
        <thead>
          <tr>
            <th>Akşam</th>
            <th>Protein</th>
            <th>Energy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let food of aksamArr">
            <td>{{ food.description }}</td>
            <td>{{food.protein}}</td>
            <td>{{food.energy}}</td>
          </tr>
        </tbody>
      </table>
      </div>  
    </div>
    <button>Post Diet Plan</button>
