<div class="main">
	<div class="panel-header panel-header-sm">
	</div>
<div class="container justify-content-center">
	<h1 class="d-flex justify-content-center" >PATIENT LOGIN</h1>
	<h3 class="d-flex justify-content-center">
		You can download it and use at mobile
	</h3>
	<a href="https://play.google.com/store/apps/details?id=com.your.app">
		<img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" alt="Google Play Download" />
	  </a>
	  <a href="https://apps.apple.com/us/app/your-app/id123456789">
		<img src="https://w7.pngwing.com/pngs/34/523/png-transparent-app-store-apple-logo-apple-text-logo-video-game.png" alt="App Store Download" />
	  </a>
</div>
</div>
