<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Update Patient</h5>
        </div>
        <div class="card-body">
          <form #registerPatientForm="ngForm" (ngSubmit)="onPatientRegister(registerPatientForm.value)">
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" [ngModel]="patient.name" name="name" ngModel disabled>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" [ngModel]="patient.surname" name="surname" ngModel disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pl-3">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" [ngModel]="patient.email" name="email" ngModel disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 pl-3">
                <div class="form-group">
                  <label>Height</label>
                  <input class="form-control" [ngModel]="patient.height" name="height" ngModel>
                </div>
              </div>
              <div class="col-md-2 pl-3">
                <div class="form-group">
                  <label>Weight</label>
                  <input class="form-control" [ngModel]="patient.weight" name="weight" ngModel>
                </div>
              </div>
              <div class="col-md-2 pl-3">
                <div class="form-group">
                  <label>Body Fat</label>
                  <input class="form-control" [ngModel]="patient.bodyFat" name="bodyFat" ngModel>
                </div>
              </div>
              <div class="col-md-2 pl-3">
                <div class="form-group">
                  <label>Age</label>
                  <input class="form-control" [ngModel]="patient.age" name="age" ngModel>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" [ngModel]="patient.about" name="about" ngModel></textarea>
                </div>
              </div>
            </div>
            <button (click)="updatePatient()">Update Patient</button>
          </form>
        </div>
    </div>
    </div>
  </div>