<h1 class="h-100 d-flex align-items-center justify-content-center" style="padding:50px"> Welcome to Dietic </h1>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
			<h1>Create Account</h1>
			<input type="First name" placeholder="First Name" name="name" ngModel/>
			<input type="Last name" placeholder="Last Name" name="surname" ngModel/>
			<input type="email" placeholder="Email" name="email" ngModel/>
			<input type="password" placeholder="Password" name="password" ngModel/>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
			<h1>Sign in</h1>
			<input type="email" placeholder="Email" name="email" ngModel/>
			<input type="password" placeholder="Password" name="password" ngModel/>
			<a href="#">Forgot your password?</a>
			<div *ngIf="loginFailed">Login failed. Please try again.</div>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>