<h1 class="h-100 d-flex align-items-center justify-content-center" style="padding:50px"> Welcome to Dietic </h1>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
			<h1>Create Account</h1>
			<input type="First name" placeholder="First Name" name="name" ngModel />
			<input type="Last name" placeholder="Last Name" name="surname" ngModel />
			<input type="email" id="email" class="form-control" placeholder="Email" [(ngModel)]="emailRegister" required
				name="email">
			<div *ngIf="emailRegister && !validateEmail(emailRegister)" style="color: red;">Please enter a valid email address
			</div>
			<input type="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="passwordRegister"
				minlength="6" required />
			<div *ngIf="passwordRegister?.length < 6 && passwordRegister !== ''" style="color: red;">Password must be at least 6
				characters long</div>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
			<h1>Sign in</h1>
			<input type="email" id="email" class="form-control" placeholder="Email" [(ngModel)]="emailLogin" required
				name="email">
			<div *ngIf="emailLogin && !validateEmail(emailLogin)" style="color: red;">Please enter a valid email address
			</div>
			<input type="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="passwordLogin"
				minlength="6" required />
			<div *ngIf="passwordLogin?.length < 6 && passwordLogin !== ''" style="color: red;">Password must be at least 6
				characters long</div>
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>