<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12 justify-content-center">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h4 class="card-title">Appointments</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive" *ngFor="let appointment of appointments">
            <table class="table">
              <tbody>
                <tr>
                  <td class="text-left">{{ appointment.patientName }} {{ appointment.patientSurname }} </td>
                  <td class="text-left" >{{ appointment.appointmentTime }}</td>
                  <td class="text-right" >{{ appointment.status}}</td>
                  <td class="td-actions text-right">
                    <button (click)="cancelAppointment(appointment.appointment_id)" type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h4 class="card-title">Notes</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive" *ngFor="let note of notes">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="note.done" (change)="updateNoteStatus(note.note_id)">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">{{ note.note }}</td>
                  <td class="text-left" >{{ note.date | date:'MM-dd' }}</td>
                  <td class="td-actions text-right">
                    <button (click)="deleteNote(note.note_id)" type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">All Patients List</h5>
          <h4 class="card-title"> Patients Stats</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Weight
                </th>
                <th>
                  Age
                </th>
                <th class="text-right">
                  About
                </th>
              </thead>
              <tbody *ngFor="let patient of patients">
                <tr>
                  <td>
                    {{ patient.name }} {{ patient.surname }}
                  </td>
                  <td>
                    {{ patient.weight}}
                  </td>
                  <td>
                    {{ patient.age }}
                  </td>
                  <td class="text-right">
                    {{ patient.about }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
