<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Simple Table</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Surname
                </th>
                <th>
                  Email
                </th>
                <th class="text-right">
                  Weight
                </th>
                <th class="text-right">
                  Height
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let patient of data">
                  <td>
                    {{ patient.name }}
                  </td>
                  <td>
                    {{ patient.surname }}
                  </td>
                  <td>
                    {{ patient.email }}
                  </td>
                  <td class="text-right">
                    {{ patient.weight }}
                  </td>
                  <td class="text-right">
                    {{ patient.height }}
                  </td>
                  <td class="text-right">
                    <button>Update Patient</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
