<div class="panel-header panel-header-sm">
</div>

<!-- <div class="col-md-8">
  <div class="card">
    <div class="card-header">
      <h5 class="title">Add Food</h5>
    </div>
    <div class="card-body">
      <form #addFoodForm="ngForm" (ngSubmit)="onAddFoods(addFoodForm.value)">
        <div class="row">
          <div class="col-md-4 pr-1">
            <div class="form-group">
              <label>Food Name</label>
              <input type="text" class="form-control" placeholder="Patient First Name" value="name" name="name" ngModel>
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>Energy</label>
              <input type="text" class="form-control" placeholder="Last Name" value="surname" name="surname"ngModel>
            </div>
          </div>
      </div>
        <div class="row">
          <div class="col-md-4 pl-3">
            <div class="form-group">
              <label for="email">Protein</label>
              <input name="email" id="email" type="email" class="form-control" placeholder="Email" value="email" name="email" ngModel>
            </div>
          </div>
          <div class="col-md-4 pl-3">
            <div class="form-group">
              <label for="email">carbohydrate</label>
              <input name="email" id="email" type="password" class="form-control" placeholder="Password" value="email" name="password" ngModel>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 pl-3">
          <div class="form-group">
            <label>Fat</label>
            <input name="email" id="email" class="form-control" placeholder="Height" value="height" name="height" ngModel>
          </div>
        </div>
        <button>Add Food</button>
      </form>
    </div>
</div>
</div> -->